/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

footer {
  text-align: center;
  padding: 3px;
  background: #1381b0;
  color: white;
}

